<md-toolbar color="primary">
    <span>Holladay Movies</span>
    <span class="fill-remaining-space"></span>
    <div>
        <!--<div *ngIf="currentUser" id="user-pic" [ngStyle]="profilePicStyles"></div>-->
        <button md-button *ngIf="(user | async)?.uid" (click)="logout()">Sign-out</button>
        <button md-button *ngIf="!(user | async)?.uid" (click)="login()"><i class="material-icons">account_circle</i>Sign-in
            with Google
        </button>
    </div>
</md-toolbar>
<div class="row columns">

    <div fxLayout="row">
        <md-input-container>
            <input mdInput placeholder="Movie title" type="text" (input)="titleChanged($event)">
        </md-input-container>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <app-video-item *ngFor="let vid of filteredVideos" [video]="vid"></app-video-item>
    </div>
</div>