<md-toolbar color="primary">
    <span>Holladay Movies</span>
    <span class="fill-remaining-space"></span>
    <div>
        <div *ngIf="currentUser" id="user-pic" [ngStyle]="profilePicStyles"></div>
        <button md-button *ngIf="(user | async)?.uid" (click)="logout()">Sign-out</button>
        <button md-button *ngIf="!(user | async)?.uid" (click)="login()"><i class="material-icons">account_circle</i>Sign-in
            with Google
        </button>
    </div>
</md-toolbar>
<div class="row columns">

    <div fxLayout="row">
        <input type="text">
    </div>
    <!--<div fxLayout="column">-->
        <!--<div fxFlex="25" fxFlex.sm="5" fxFlex></div>-->
        <!--<md-list>-->
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <app-video-item *ngFor="let vid of videos | async" [video]="vid"></app-video-item>
    </div>
        <!--</md-list>-->
        <!--<div fxFlex="25" fxFlex.sm="5"></div>-->
    <!--</div>-->
</div>