<md-toolbar color="primary">
    <span>Holladay Movies</span>
    <span class="fill-remaining-space"></span>
    <div>
        <div *ngIf="currentUser" id="user-pic" [ngStyle]="profilePicStyles"></div>
        <button md-button *ngIf="(user | async)?.uid" (click)="logout()">Sign-out</button>
        <button md-button *ngIf="!(user | async)?.uid" (click)="login()"><i class="material-icons">account_circle</i>Sign-in
            with Google
        </button>
    </div>
</md-toolbar>
<div class="row columns">

    <div id="details-container">
        <md-list>
            <app-video-item *ngFor="let vid of videos | async" [video]="vid"></app-video-item>
        </md-list>
    </div>
</div>